<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e83f5917-4ae8-4181-9db1-0c2cd0ec3f48/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/apiProducts20220330173939</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/e83f5917-4ae8-4181-9db1-0c2cd0ec3f48/resourceGroups/myResourceGroup/providers/Microsoft.ApiManagement/service/tajamarapi/apis/productos</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiproducts20220330173939.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>d5337e78-8f8b-4b3a-9a9e-8d0b151706d3</ProjectGuid>
    <MSDeployServiceURL>apiproducts20220330173939.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>apiProducts20220330173939</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$apiProducts20220330173939</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>